.policy-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.5s ease;
    height: 80px;
}
.policy-card:hover {
    transform: translateY(-20px);
}
.policy-card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: #4267b2;
}
.policy-card__icon i {
    font-size: 3rem;
}
.policy-card__info__name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.policy-card__info__description {
    font-size: 1rem;
    color: #8d8d8d;
}
