.detail {
    width: 60%;
    margin-left: 17%;
    margin-top: 5%;
}

.offer {
    background: linear-gradient(to right, #ef3006, #c60004);
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding-right: 8px;
}

.span {
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    margin-left: 3px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-transform: uppercase;
    border: 1px;
}

.name {
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.status {
    display: inline;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 17px;
}

.percent {
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
}

.price {
    display: inline-block;
    font-size: 16px;
    line-height: 17px;
    text-decoration-line: line-through;
    margin-bottom: 5px;
    margin-right: 10px;
}

.sale {
    font-size: 19px;
    display: block;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 8px;
}

.checked {
    color: orange;
    display: inline-block;
}

.nonCheck {
    color: #bdbdbd;
    display: inline-block;
}

.item-rating-total {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
    display: inline-block;
}