.floatingdiv {
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding: 0px 20px 0px 0px;
    height: 6rem;
    width: 20rem;
}

.floatingdiv>img {
    transform: scale(0.38);
}

.floatingdiv>span {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}