.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact_frame {
    margin-top: calc(70px * -1);
    padding-top: 20px;
}

.contact {
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;

}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    color: black;
}

.contact__info__name {
    font-weight: 700;
    font-size: 14px;
}

.contact__icon {
    width: 40px;
    height: 40px;
    background-color: #FCAF17;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.contact-bottom {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
}

.contact-bottom .contact__map {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1
}

.contact__map iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.contact-top {
    margin-bottom: 40px;
}

.contact-bottom .contact__form {
    grid-column: 2 / span 2;
}

.contact__form .form-control {
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    margin-bottom: 0;
}

.contact__form-content textarea.form-control {
    display: block;
    height: 290px;
    resize: none;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-group .form-control {
    border-radius: 0 !important;
    font-size: 14px;
    color: #000;
    height: 40px;
    padding: 0 15px;
    border-left: 2px solid #fcaf17;
    outline: none;
}

.form-group textarea {
    display: block;
    height: 100%;
}