.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 4rem;
}

.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e-circle {
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.e-circle::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ddc05c 100%);
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2) {
    color: var(--orange);
}

@media screen and (max-width: 480px) {
    .experience {
        transform: scale(0.7);
    }
}