.toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid $btn-blue;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>* {
    width: 1rem;
    height: 1rem;
    color: $btn-blue;
}

.t-button {
    border-radius: 100%;
    background: $btn-blue;
    position: absolute;

}