.search-container {
    display: flex;
    position: relative;
}

.search-box {
    height: 100%;
    border-radius: 50%;
    display: flex;
}

.search-box #search {
    height: 35px;
    width: 250px;
    border: none;
    background-color: #c2cff1;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    font-size: 16px;
    color: #000;
}

.search-box input:focus {
    outline: none;
}

.search-box button {
    height: 35px;
    width: 35px;
    border: none;
    background-color: #c2cff1;
    font-size: 26px;
    padding-right: 20px;
    padding-top: 6px;
    border-radius: 0 20px 20px 0;
}

.data-result {
    margin-top: 5px;
    top: 40px;
    width: 100%;
    max-height: 300px;
    background-color: #c2cff1;
    box-shadow: #232323ff;
    overflow: auto;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    z-index: 1000;
}

.data-result:hover {
    color: #000;
}

.data-result .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #000;
}

.data-result::-webkit-scrollbar {
    display: none;
}

.item {
    width: 90%;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 10px;
    background-color: #c2cff1
}

.item:hover {
    background-color: #6b88d0;
}

.item-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.item-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.item-title {
    height: 40px;
    width: 200px;
    white-space: nowrap;
    font-size: 18px;
    margin-left: 12px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}