.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 150px;
    transition: height 0.3s ease;
}
@media only screen and (max-width: 1024px) {
    .header {
        height: 70px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
}
@media only screen and (max-width: 600px) {
    .header {
        height: 40px;
   }
}
.header .container {
    height: 100%;
}
.header.shrink {
    height: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
}
@media only screen and (max-width: 600px) {
    .header.shrink {
        height: 40px;
   }
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    pointer-events: none;
}
.header__logo img {
    height: 28px;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1.5rem;
}
.header__menu__item ~ .header__menu__item {
    margin-left: 39px;
}
@media only screen and (max-width: 1024px) {
    .header__menu__item ~ .header__menu__item {
        margin-left: 20px;
   }
}
@media only screen and (max-width: 600px) {
    .header__menu__item ~ .header__menu__item {
        margin-left: 10px;
   }
}
.header__menu__item.active {
    font-weight: 600;
    color: #4267b2;
}
.header__menu__item:hover {
    color: #4267b2;
}
.header__menu__left, .header__menu__right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header__menu__right {
    font-size: 2.25rem;
}
.header__menu__right__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1024px) {
    .header__menu__right__item {
        margin-left: 10px;
   }
}
@media only screen and (max-width: 600px) {
    .header__menu__right {
        font-size: 1.5rem;
   }
}
.header__menu__left__close {
    display: none;
}
@media only screen and (max-width: 1024px) {
    .header__menu__left {
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
   }
    .header__menu__left.active {
        transform: translateX(0);
   }
    .header__menu__left__item ~ .header__menu__left__item {
        margin-left: unset;
        margin-top: 20px;
   }
    .header__menu__left__close {
        display: block;
        position: absolute;
        left: 20px;
        font-size: 2.5rem;
   }
}
.header__menu__mobile-toggle {
    display: none;
}
@media only screen and (max-width: 1024px) {
    .header__menu__mobile-toggle {
        display: block;
        font-size: 2.5rem;
   }
}
