.page-title {
    font-size: 35px;
    margin-left: 100px;
    padding: 10px;
}

.search-result {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.search-item {
    width: 90%;
    height: 120px;
    background-color: rgb(242, 244, 248);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 10px;
}

.search-item-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.search-item-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px;
}

.search-item-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 18px;
    margin-right: 25px;
}

.search-item-name {
    font-size: 24px;
    color: #000;
    font-weight: 500;
}

.search-item-price {
    font-size: 18px;
    font-weight: 400;
    color: #000;

}

.search-item-description {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.search-item-btn {
    width: 100px;
    height: 50px;
    margin-top: 35px;
    margin-right: 10px;

}

.btn-buy {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgb(164, 157, 221);
    border-radius: 10px;
}

.search-result-text {
    font-size: 16px;
}