.section {
    margin-bottom: 50px;
    margin-top: calc(70px * -1);
    padding-top: 20px;
}
.section > * ~ * {
    margin-top: 70px;
}
.section__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5rem;
}
